<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web03</display-name>
  
  <context-param>
  	<param-name>dburl</param-name>
  	<param-value>jdbc:mysql://localhost/test</param-value>
  </context-param>
 
  <context-param>
  	<param-name>user</param-name>
  	<param-value>test</param-value>
  </context-param>  

  <context-param>
  	<param-name>password</param-name>
  	<param-value>test</param-value>
  </context-param>  

  <context-param>
  	<param-name>driverClass</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>  
      
  <listener>
  	<listener-class>net.bitacademy.java41.listeners.ContextLoaderListener</listener-class>
  </listener>
   <filter>
  	<filter-name>CharSetFilter</filter-name>
  	<filter-class>net.bitacademy.java41.filters.CharSetFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AuthFilter</filter-name>
  	<filter-class>net.bitacademy.java41.filters.AuthFilter</filter-class>
  </filter>
  
  <!-- 필터에 URL을 설정 
  . URL 패턴의 설정 순서대로 필터를 실행한다.
  -->
  <filter-mapping>
  	<filter-name>CharSetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 서블릿 선언 -->

  <!-- 서블릿에 URL을 설정 -->

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>