@CHARSET "UTF-8";
body {
	font-size: small;
}

/*header정보를 출력하는 태그를 찾아아 다음 블럭의 스타일을 적용하라*/ 
#header {
	background-color: #00008b;
	color: #ffffff;
/* 	border: 2px solid gray; */
	height: 40px;
	margin-bottom: 5px;
}

#header a:LINK {
	color: white;
}

#header a:VISITED {
	color: white;
}

#logout {
/* 	border: 1px solid red; */
	margin-top: 15px;
	margin-right: 5px;
	float:right;
}

/*tail 정보를 출력하는 태그를 찾아서 다음 블럭의 스타일을 적용하라*/
#tail {
	background-color: #dcdcdc;
	border-top: 2px solid gray;
	height: 40px;
	clear: left;
	text-align: center;
	padding-top: 10px;
}

#sidebar {
/* 	border: 2px solid red; */
	background: #fff8dc;
	float: left;
	width: 180px; 
	margin-bottom: 5px;
	padding: 0px 5px 0px 5px;
}

#content {
/* 	border: 2px solid blue; */
	margin-left: 200px;
}

#memberPhoto {
	width: 50px;
	float: left;
}

#memberInfo {
/* 	border: 2px solid blue; */
	padding: 10px;
	margin-left: 55px;
}

#name {
	font-size: 120%;
	font-weight: bold;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
}

#tel {
	font-size: 80%;
	color: gray;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
	
}

#email {
	font-size: 90%;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
}
